/* CSS stylesheet for Mohammad Akhlaghi's personal webpage.  This
style sheet is only for wider viewers and is only read when the width
of the display is actually larger than a certain amount. See the HTML
files for the actual threshold width. It only modifies the styles that
are defined in "narrow.css".

Copyright (C) 2016, Mohammad Akhlaghi

This stylesheet is free software: you can redistribute it and/or
modify it under the terms of the GNU General Public Licence as
published by the Free software foundation, either version 3 of the
License, or (at your option) any later version.

This stylesheet is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
General Public License for more details.

A copy of the GNU General Public License is available at
<http://www.gnu.org/licenses>.*/





/* Layout

The CSS Style rules categorized as "Layout" here are to do with the
general layout of the final page, not to with the text in it. */
nav{
    margin: 0;
}
nav ul{
    width: 100%;
    float: left;
    text-indent: 0%;
    padding-left: 0;
    border-bottom: 1px solid #bebebe;
}
nav li{
    margin: 0;
    Font-size: 100%;
    text-align: center;
    padding-right: 2em;
    display: inline-block;
    text-transform: uppercase;
}

nav li:first-child{
    width: 13em;
    float: right;
    padding-right: 0;
    text-align: right;
}









/* Layout of major page components */

/* In the body, the font size is set to 90% to be slightly smaller than
the default that is used by the particular browser. With the large
array of display sizes, the sizes can be different (from a small
smartphone to a monitor). So we will trust the choice of the browser's
creators (for the specific device).

Thick fonts are harder to read and also the bolder fonts will be too
strong. So we are setting the main font weight to very thin here and
boldening the headers later. */
body{
    font-size: 105%;		/* Default browser size.           */
    font-weight: 100;		/* Thin fonts for all pages.       */
    background-color: #fff;
    font-family: open_sanslight, sans-serif;
}
.page{
    margin: 0 auto;	        /* To center the page.             */
    max-width: 50em;		/* Page width depends on font size.*/
}
main{
    width: 75%;
    float: left;
    padding: 0 1em 0 0;       /* top right bottom left. */
}
.sidebar{
    width: 25%;
    float: right;
    border-left: 1px;
    margin-top: 0.5em;
}
footer{
    padding: 0.5em 0.5em 0.5em 0;
}
aside.importantaside{
    margin: 0 0.3em 0 0.3em;
}

main aside{
    width: 30%;
    vertical-align: top;
    margin: 1em 1% 1em 0;
    display: inline-block;
}